:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --light-grey: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: lexenDeca;
    src: url('./fonts/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: bigShoulders;
    src: url('./fonts/BigShouldersDisplay-Bold.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lexenDeca;
    background-color: var(--light-grey);
}

.preview-card {
    margin: 5.5rem 0;
    width: 87.5%;
    border-radius: .5rem;
    overflow: hidden;
}

.vehicle-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
}

.sedans {
    background: var(--bright-orange);
    color: var(--bright-orange);
}

.suvs {
    background: var(--dark-cyan);
    color: var(--dark-cyan);
}

.luxury {
    background: var(--very-dark-cyan);
    color: var(--very-dark-cyan);
}

.title {
    font-family: bigShoulders;
    font-size: 2.5rem;
    color: var(--light-grey);
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

.paragraph {
    color: #ffffff9f;
    font-size: .95rem;
    line-height: 1.55rem;
}

.button {
    background-color: var(--light-grey);
    padding: .9rem 2rem;
    border: none;
    border-radius: 2rem;
    font-size: .95rem;
    font-family: lexenDeca;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: white;
    outline: 2px solid white;
}

.icon {
    width: 4rem;
}

.attribution {
    position: absolute;
    bottom: 0;
}